/*     HEADER     */

.header{
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../eduford_img/background.jpg);
    height: 60vh;
}

.header_container h1 {
    color: #fff;
    font-size: 35px;
    letter-spacing: 1.2px;
}


/*     ABOUT     */

.about{
    padding: 140px 0px 40px;
}
.about .container{
    display: flex;
    justify-content: space-between;
}
.about .container .about-text{
    flex-basis: 47%;
}
.about .container .about-img{
    flex-basis: 47%;
}
.about .about-img img{
    width: 100%;
    height: auto;
}
.about-text h2{
    font-size: 36px;
}
.about-text p{
    padding: 15px 0px 30px;
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
}

@media screen and (max-width: 992px){
    .about .container{
        flex-direction: column;
    }
    .about .container .about-text{
        flex-basis: 100%;
        margin-bottom: 60px;
    }
    .about .container .about-img{
        flex-basis: 100%;
    }
}