* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

.title {
    text-align: center;
}

.title p {
    color: #747274;
    font-size: 13px;
    margin-top: 5px;
}

.container {
    width: 80%;
    margin: auto;
}

/*       HEADER      */

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(eduford_img/banner.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    padding: 25px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav .logo {
    width: 175px;
    margin-top: 13px;
}

nav ul li {
    display: inline-block;
}

nav ul li:not(:last-child) {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: all ease-in-out 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.header_container h1 {
    color: #fff;
    font-size: 52px;
    letter-spacing: 1.2px;
}

.header_container p {
    color: #fff;
    margin-top: 15px;
}

.card_btn {
    margin-top: 25px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid white;
    background-color: transparent;
    padding: 11px 23px;
    display: inline-block;
    transition: all ease-in-out 0.3s;
}

.card_btn:hover {
    background-color: rgba(244, 67, 54, 1);
    border: 1px solid rgba(168, 166, 163, 0.7);
}

nav .fa-bars {
    color: white;
    font-size: 22px;
    margin-top: -5px;
    display: none;
    cursor: pointer;
}

.menu .fa-times {
    display: none;
    cursor: pointer;
}


@media screen and (max-width: 572px) {
    .header .header_container h1 {
        font-size: 30px;
    }

    nav .logo {
        width: 140px;
    }
}

@media screen and (max-width: 768px) {
    .header_container {
        width: 75%;
    }

    .menu {
        background: #f44336;
        position: absolute;
        right: -200px;
        top: 0;
        height: 100vh;
        width: 200px;
        z-index: 2;
        padding-top: 30px;
        transition: all 0.5s ease-in-out;
        position: fixed;
    }

    .menu ul li {
        display: block;
        padding: 8px 0px 0px 12px;
    }

    .close {
        display: block;
        color: white;
        font-size: 22px;
        margin: 12px 10px;
    }

    .menu .fa-times {
        display: inline-block;
        color: white;
        font-size: 22px;
        margin: 12px 10px;
    }

    nav .fa-bars {
        display: block;
    }
}

/*    SCROLLBAR    */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(136, 136, 136, .8);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 136, 136, 1);
}



/*       COURSE       */

.course {
    padding-top: 80px;
}

.course .card_row {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course_card {
    width: 32%;
    text-align: center;
    padding: 25px 15px;
    background: #FEF4F3;
    transition: all ease 0.3s;
}

.course_card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.course_card_text {
    padding-top: 10px;
    color: #747274;
    font-size: 13px;
}

@media screen and (max-width: 992px) {
    .course_card_text {
        font-size: 12px;
    }
}

@media screen and (max-width: 768px) {
    .course .card_row {
        flex-direction: column;
    }

    .course_card {
        margin-bottom: 15px;
        width: 100%;
    }

    .course_card_text {
        font-size: 13px;
    }
}



/*        CAMPUS       */

.campus {
    margin-top: 120px;
}

.campus .card_row {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.campus_card {
    position: relative;
    width: 32.5%;
    height: auto;
}

.campus_card img {
    width: 100%;
    border-radius: 5px;
    display: block;
}

.campus_card_layer {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0%;
    background: transparent;
    transition: all ease 0.4s;
}

.campus_card_layer_text {
    width: 100%;
    position: absolute;
    top: 85%;
    font-size: 19px;
    color: white;
    transition: all ease 0.4s;
    opacity: 0;
    text-align: center;
}

.campus_card:hover p {
    opacity: 1;
    top: 40%;
}

.campus_card:hover .campus_card_layer {
    background: rgba(226, 0, 0, .7);
}

@media screen and (max-width: 768px) {
    .course_card_text {
        font-size: 12px;
    }

    .campus_card_layer_text {
        font-size: 17px;
    }
}

@media screen and (max-width: 572px) {
    .campus .card_row {
        flex-direction: column;
    }

    .campus_card {
        width: 100%;
        margin-bottom: 15px;
    }

    .campus_card_layer_text {
        font-size: 20px;
    }
}



/*        FACILITY     */

.facility {
    padding-top: 120px;
}

.facility .card_row {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.facility_card {
    width: 31.5%;
    height: auto;
}

.facility_card img {
    width: 100%;
    border-radius: 10px;
}

.facility_card_content {
    padding: 10px 0px;
}

.facility_card_text {
    padding-top: 10px;
    color: #747274;
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    .facility_card {
        width: 100%;
        margin-bottom: 30px;
    }
}


/*       COMMENT      */

.comment {
    padding-top: 120px;
    margin-bottom: 100px;
}

.comment .card_row {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.comment_card {
    width: 48%;
    background: #F9EDED;
    display: flex;
    padding: 20px 25px;
    border-radius: 8px;
}

.comment_card_img img {
    width: 40px;
    height: auto;
    border-radius: 50%;
    margin-right: 25px;
}

.comment_card_text {
    color: #747274;
    font-size: 13px;
}

.comment_card_author {
    margin-top: 8px;
}

.comment_card_points {
    margin: 5px 0px;
}

@media screen and (max-width: 768px) {
    .comment .card_row {
        flex-direction: column;
    }

    .comment_card {
        width: 100%;
        margin-bottom: 20px;
    }
}



/*       CONTACT      */

.contact {
    margin-top: 120px;
}

.contact_card {
    width: 100%;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(eduford_img/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_card_title {
    color: white;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .contact_card_title {
        font-size: 22px;
    }

    .contact_card {
        padding: 30px 35px;
    }
}

@media screen and (max-width: 472px) {
    .contact_card_title {
        font-size: 19px;
    }

    .card_btn {
        font-size: 12px;
        padding: 8px 17px;
    }
}



/*       ABOUT      */

.about {
    margin-top: 120px;
    text-align: center;
}

.about .container {
    width: 50%;
}

.about .container p {
    padding: 20px 0px;
    color: #747274;
    font-size: 13px;
}

.about i {
    color: #f44336;
}

.about .links i {
    margin-right: 12px;
}

@media screen and (max-width: 572px) {
    .about .container {
        width: 75%;
    }
}